body {
  background-color:#ffffff; font-family: 'Roboto', sans-serif;
}

h1 {font-family: 'Roboto Condensed', sans-serif; color:white}

.headbox{background-color:#59acff; padding:20px 10px 20px 10px; text-align:center;}

h2 {text-align: center}

.table{text-align:center;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid white;}

.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

.background1 {
  background-color: #59acff;
  text-align: center;
  color: white;
  padding:20px;
  width:50%;
  line-height:1.5rem;
  border-radius:10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.background1 a {
  color:white;
  text-decoration white;
}

figcaption {
        text-align: center;
    }
